<p><b>From: </b><%= @order.name %></p>
<p><b>Email: </b> <%= @order.email %></p>
<p><b>Address: </b> <%= @order.address %></p>
<p><b>Phone: </b> <%= @order.phone %></p><br>
<p><b>Message: </b> <%= @order.message %></p>
